-- CreateEnum
CREATE TYPE "IeltsSubSkillType" AS ENUM ('LISTENING', 'READING', 'GRAMMAR', 'VOCABULARY', 'COHERENCE', 'TASK_RESPONSE', 'FLUENCY', 'PRONUNCIATION');

-- CreateEnum
CREATE TYPE "ContentType" AS ENUM ('YOUTUBE', 'NOTES', 'PDF', 'TEXT');

-- CreateEnum
CREATE TYPE "CourseContentType" AS ENUM ('NOTES', 'MCQ', 'FLASHCARD', 'VIDEO', 'PDF');

-- CreateEnum
CREATE TYPE "DifficultyType" AS ENUM ('BEGINNER', 'INTERMEDIATE', 'ADVANCED');

-- CreateEnum
CREATE TYPE "ProgressStatus" AS ENUM ('NOT_STARTED', 'IN_PROGRESS', 'COMPLETED');

-- CreateEnum
CREATE TYPE "PurchaseStatus" AS ENUM ('PENDING', 'SUCCESS', 'FAILED');

-- CreateEnum
CREATE TYPE "UserRoleType" AS ENUM ('STUDENT', 'INSTRUCTOR', 'ADMIN', 'SUPERADMIN', 'INSTITUTE_OWNER', 'INSTITUTE_ADMIN');

-- CreateEnum
CREATE TYPE "IeltsSkillType" AS ENUM ('LISTENING', 'READING', 'WRITING', 'SPEAKING');

-- CreateEnum
CREATE TYPE "AssessmentModeType" AS ENUM ('DIAGNOSTIC', 'PRACTICE', 'MOCK', 'INTERNAL_ASSESSMENT');

-- CreateEnum
CREATE TYPE "RecommendationLevel" AS ENUM ('BEGINNER', 'INTERMEDIATE', 'ADVANCED');

-- CreateEnum
CREATE TYPE "RecommendationType" AS ENUM ('VIDEO', 'BLOG', 'PRACTICE_TEST');

-- CreateEnum
CREATE TYPE "IASessionStatus" AS ENUM ('PENDING', 'IN_PROGRESS', 'COMPLETED', 'MISSED');

-- CreateEnum
CREATE TYPE "MockAttemptType" AS ENUM ('STANDARD', 'EARNED');

-- CreateEnum
CREATE TYPE "MockSessionStatus" AS ENUM ('PENDING', 'IN_PROGRESS', 'COMPLETED', 'ABANDONED');

-- CreateEnum
CREATE TYPE "DrillSessionStatus" AS ENUM ('STARTED', 'DRILL_DONE', 'APPLY_DONE');

-- CreateTable
CREATE TABLE "Concept" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "conceptId" VARCHAR(100) NOT NULL,
    "baseConceptId" VARCHAR(100) NOT NULL,
    "domain" VARCHAR(50) NOT NULL,
    "conceptSlug" VARCHAR(100) NOT NULL,
    "sequence" INTEGER NOT NULL,
    "keywords" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "learningObjective" TEXT NOT NULL,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Concept_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Content" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "conceptId" UUID NOT NULL,
    "contentType" "ContentType" NOT NULL,
    "title" VARCHAR(500),
    "ytLink" VARCHAR(500),
    "path" VARCHAR(1000),
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Content_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Course" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "title" VARCHAR(500) NOT NULL,
    "description" TEXT,
    "difficulty" "DifficultyType" DEFAULT 'BEGINNER',
    "duration_minutes" INTEGER,
    "price" DECIMAL(10,2),
    "is_published" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "domainId" UUID NOT NULL,
    "slug" VARCHAR(200),
    "instructorId" UUID,
    "thumbnail" TEXT,

    CONSTRAINT "Course_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CourseContentItem" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "concept_id" UUID NOT NULL,
    "content_kind" "CourseContentType" NOT NULL,
    "title" VARCHAR(300),
    "sequence_order" INTEGER DEFAULT 0,
    "is_required" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CourseContentItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CourseModule" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "course_id" UUID NOT NULL,
    "module_id" UUID NOT NULL,
    "order_index" INTEGER NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CourseModule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CourseOrder" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "userId" UUID NOT NULL,
    "courseId" UUID NOT NULL,
    "amount" DECIMAL(10,2) NOT NULL,
    "currency" VARCHAR(10) NOT NULL DEFAULT 'INR',
    "status" "PurchaseStatus" NOT NULL DEFAULT 'PENDING',
    "razorpayOrderId" VARCHAR(100) NOT NULL,
    "razorpayPaymentId" VARCHAR(100),
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CourseOrder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Domain" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "name" VARCHAR(100) NOT NULL,
    "slug" VARCHAR(100) NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Domain_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IeltsReadingAssessment" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "userId" UUID NOT NULL,
    "reportId" VARCHAR(100) NOT NULL,
    "passageTitle" VARCHAR(500) NOT NULL,
    "category" VARCHAR(100) NOT NULL,
    "wordCount" INTEGER NOT NULL,
    "readingTimeSeconds" INTEGER NOT NULL,
    "wpm" DOUBLE PRECISION NOT NULL,
    "accuracy" DOUBLE PRECISION NOT NULL,
    "retentionScore" DOUBLE PRECISION NOT NULL,
    "efficiencyScore" DOUBLE PRECISION NOT NULL,
    "speedLearningScore" DOUBLE PRECISION NOT NULL,
    "grade" VARCHAR(5) NOT NULL,
    "speedCategory" VARCHAR(50),
    "totalQuestions" INTEGER NOT NULL,
    "correctAnswers" INTEGER NOT NULL,
    "scoredAnswers" JSONB,
    "feedbackTips" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "IeltsReadingAssessment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IeltsSpeakingAssessment" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "userId" UUID NOT NULL,
    "topicId" UUID NOT NULL,
    "band" VARCHAR(50) NOT NULL,
    "weightedWpm" DOUBLE PRECISION NOT NULL,
    "fluencyScore" DOUBLE PRECISION NOT NULL,
    "keywordsHit" INTEGER NOT NULL,
    "totalKeywords" INTEGER NOT NULL,
    "pass1Data" JSON NOT NULL,
    "pass2Data" JSON NOT NULL,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "IeltsSpeakingAssessment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IeltsSpeakingPractice" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "title" VARCHAR(500) NOT NULL,
    "type" VARCHAR(100) NOT NULL,
    "words" INTEGER NOT NULL,
    "phrases" INTEGER NOT NULL,
    "band" VARCHAR(50) NOT NULL,
    "modelAnswer" TEXT NOT NULL,
    "keywords" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "keywordMap" JSONB,
    "tips" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "IeltsReadingPractice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IeltsSpeedReadingExercise" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "reportId" UUID NOT NULL,
    "type" VARCHAR(50) NOT NULL,
    "question" TEXT NOT NULL,
    "options" JSONB,
    "correctAnswer" TEXT NOT NULL,
    "explanation" TEXT,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "IeltsSpeedReadingExercise_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IeltsSpeedReadingReport" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "category" VARCHAR(50) NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "source" VARCHAR(255) NOT NULL,
    "text" TEXT NOT NULL,
    "wordCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "IeltsSpeedReadingReport_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IeltsVoicePrompt" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "band" VARCHAR(50) NOT NULL,
    "feature" VARCHAR(50) NOT NULL DEFAULT 'anatomy',
    "question" TEXT NOT NULL,
    "hint" TEXT,
    "targetWpmMin" INTEGER NOT NULL DEFAULT 120,
    "targetWpmMax" INTEGER NOT NULL DEFAULT 160,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "IeltsVoicePrompt_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IeltsWritingTask" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "title" VARCHAR(500) NOT NULL,
    "topic" TEXT NOT NULL,
    "assignedDate" DATE NOT NULL,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "IeltsWritingTask_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IeltsWritingAssessment" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "userId" UUID NOT NULL,
    "taskId" UUID NOT NULL,
    "writtenContent" TEXT NOT NULL,
    "wordCount" INTEGER NOT NULL,
    "aiBandScore" VARCHAR(10),
    "aiGrammarScore" DOUBLE PRECISION,
    "aiVocabularyScore" DOUBLE PRECISION,
    "aiCoherenceScore" DOUBLE PRECISION,
    "aiTaskResponseScore" DOUBLE PRECISION,
    "aiFeedbackData" JSONB,
    "manualBandScore" VARCHAR(10),
    "manualFeedback" TEXT,
    "gradedByInstructorId" UUID,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "IeltsWritingAssessment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Instructor" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "userId" UUID NOT NULL,
    "bio" TEXT,
    "specialization" VARCHAR(255),
    "rating" DOUBLE PRECISION DEFAULT 0.0,
    "socialLinks" JSONB DEFAULT '{}',
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Instructor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MCQ" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "content_item_id" UUID NOT NULL,
    "question" TEXT NOT NULL,
    "options" JSONB NOT NULL,
    "correct_answer" VARCHAR(50) NOT NULL,
    "explanation" TEXT,
    "difficulty" VARCHAR(20) DEFAULT 'medium',

    CONSTRAINT "MCQ_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Module" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "title" VARCHAR(300) NOT NULL,
    "description" TEXT,
    "domain" VARCHAR(100),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Module_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ModuleConcept" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "module_id" UUID NOT NULL,
    "concept_id" UUID NOT NULL,
    "order_index" INTEGER NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ModuleConcept_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Note" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "content_item_id" UUID NOT NULL,
    "format" VARCHAR(20) DEFAULT 'markdown',
    "body" TEXT NOT NULL,
    "version" INTEGER DEFAULT 1,

    CONSTRAINT "Note_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ReadingAssessmentHistory" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "userId" UUID NOT NULL,
    "passageId" VARCHAR(100) NOT NULL,
    "difficulty" VARCHAR(20) NOT NULL,
    "category" VARCHAR(100) NOT NULL,
    "wordCount" INTEGER NOT NULL,
    "readingTimeSeconds" INTEGER NOT NULL,
    "actualWPM" DOUBLE PRECISION NOT NULL,
    "weightedWPM" DOUBLE PRECISION NOT NULL,
    "accuracy" DOUBLE PRECISION NOT NULL,
    "retention" DOUBLE PRECISION NOT NULL,
    "speedLearningScore" DOUBLE PRECISION NOT NULL,
    "focusRatio" DOUBLE PRECISION NOT NULL,
    "integrityScore" DOUBLE PRECISION NOT NULL,
    "tabSwitches" INTEGER NOT NULL,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ReadingAssessmentHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "supabaseuserid" VARCHAR(255) NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "name" VARCHAR(255),
    "countryCode" VARCHAR(5),
    "phoneNo" VARCHAR(20),
    "role" "UserRoleType" NOT NULL DEFAULT 'STUDENT',
    "profileImage" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_notifications" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "user_id" UUID NOT NULL,
    "type" VARCHAR(50) NOT NULL,
    "payload" JSONB NOT NULL DEFAULT '{}',
    "dedupe_key" VARCHAR(160),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "read_at" TIMESTAMPTZ(6),
    "dismissed_at" TIMESTAMPTZ(6),

    CONSTRAINT "user_notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserConcept" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "userId" UUID NOT NULL,
    "conceptId" UUID NOT NULL,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserConcept_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserContentProgress" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "course_id" UUID NOT NULL,
    "module_id" UUID NOT NULL,
    "content_item_id" UUID NOT NULL,
    "status" VARCHAR(50) NOT NULL DEFAULT 'NOT_STARTED',
    "completed_at" TIMESTAMPTZ(6),
    "last_accessed_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserContentProgress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserCourseEnrollment" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "user_id" UUID NOT NULL,
    "course_id" UUID NOT NULL,
    "enrolled_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "last_accessed_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "completed_at" TIMESTAMPTZ(6),
    "status" "ProgressStatus" DEFAULT 'NOT_STARTED',
    "module_index" INTEGER DEFAULT 0,

    CONSTRAINT "UserCourseEnrollment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserModuleProgress" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "user_id" UUID NOT NULL,
    "module_id" UUID NOT NULL,
    "course_id" UUID NOT NULL,
    "status" "ProgressStatus" DEFAULT 'NOT_STARTED',
    "completed_at" TIMESTAMPTZ(6),
    "last_accessed_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserModuleProgress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserReadingProfile" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "userId" UUID NOT NULL,
    "currentWeightedWPM" DOUBLE PRECISION NOT NULL,
    "currentRetention" DOUBLE PRECISION NOT NULL,
    "currentSpeedLearning" DOUBLE PRECISION NOT NULL,
    "currentFocusRatio" DOUBLE PRECISION NOT NULL,
    "currentIntegrityScore" DOUBLE PRECISION NOT NULL,
    "highestWeightedWPM" DOUBLE PRECISION NOT NULL,
    "highestRetention" DOUBLE PRECISION NOT NULL,
    "highestSpeedLearning" DOUBLE PRECISION NOT NULL,
    "lastAssessmentAt" TIMESTAMPTZ(6) NOT NULL,
    "totalAssessments" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserReadingProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "YouTubeTranscript" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "videoId" VARCHAR(20) NOT NULL,
    "title" VARCHAR(500),
    "transcript" JSONB NOT NULL,
    "method" VARCHAR(50),
    "language" VARCHAR(10) NOT NULL DEFAULT 'en',
    "duration" INTEGER,
    "accessCount" INTEGER NOT NULL DEFAULT 0,
    "lastAccessed" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "YouTubeTranscript_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ielts_batch_instructors" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "batch_id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "assigned_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ielts_batch_instructors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ielts_batch_students" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "batch_id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "enrolled_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ielts_batch_students_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ielts_batches" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "institute_id" UUID NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "description" TEXT,
    "status" VARCHAR(20) NOT NULL DEFAULT 'ACTIVE',
    "max_students" INTEGER,
    "created_by" UUID,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ielts_batches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "institute_admins" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "institute_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "institute_admins_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "institute_instructors" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "institute_id" UUID NOT NULL,
    "bio" TEXT,
    "specialization" VARCHAR(255),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "institute_instructors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "institute_owners" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "institute_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "institute_owners_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "institute_students" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "institute_id" UUID NOT NULL,
    "enrollment_date" DATE NOT NULL DEFAULT CURRENT_DATE,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isDiagnosed" BOOLEAN NOT NULL DEFAULT false,
    "recommendationSeeded" BOOLEAN NOT NULL DEFAULT false,
    "target_band" DOUBLE PRECISION,
    "momentum_score" INTEGER NOT NULL DEFAULT 0,
    "daily_streak" INTEGER NOT NULL DEFAULT 0,
    "last_streak_date" DATE,
    "extra_drill_credits" INTEGER NOT NULL DEFAULT 0,
    "exam_date" DATE,

    CONSTRAINT "institute_students_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "institutes" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" VARCHAR(255) NOT NULL,
    "address" TEXT,
    "logo_url" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_by" UUID,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "institutes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StudentCompetencyMatrix" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "student_id" UUID NOT NULL,
    "skill" "IeltsSkillType" NOT NULL,
    "band_score" DECIMAL(2,1),
    "level" CHAR(1),
    "sub_scores" JSONB,
    "assessments_count" INTEGER NOT NULL DEFAULT 0,
    "last_updated" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "StudentCompetencyMatrix_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AssessmentHistory" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "student_id" UUID NOT NULL,
    "skill" "IeltsSkillType" NOT NULL,
    "mode" "AssessmentModeType" NOT NULL,
    "band_score" DECIMAL(2,1) NOT NULL,
    "sub_scores" JSONB,
    "feedback_json" JSONB,
    "transcript" TEXT,
    "raw_answers" JSONB,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AssessmentHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RecommendationItem" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "title" VARCHAR(300) NOT NULL,
    "url" TEXT NOT NULL,
    "description" TEXT,
    "thumbnail_url" TEXT,
    "source" VARCHAR(150),
    "duration_min" INTEGER,
    "type" "RecommendationType" NOT NULL,
    "skill_type" "IeltsSkillType" NOT NULL,
    "level" "RecommendationLevel" NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "sub_skill" "IeltsSubSkillType",

    CONSTRAINT "RecommendationItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "drill_sessions" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "student_id" UUID NOT NULL,
    "skill" "IeltsSkillType" NOT NULL,
    "sub_skill" "IeltsSubSkillType" NOT NULL,
    "drill_type" TEXT,
    "prompts_completed" INTEGER NOT NULL,
    "momentum_earned" INTEGER NOT NULL,
    "ai_feedback_json" JSONB,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "correct_answers" SMALLINT NOT NULL DEFAULT 0,
    "total_questions" SMALLINT NOT NULL DEFAULT 5,
    "is_extra_session" BOOLEAN NOT NULL DEFAULT false,
    "status" "DrillSessionStatus" NOT NULL DEFAULT 'STARTED',
    "question_ids" JSONB,
    "answers" JSONB,
    "reflection_text" TEXT,
    "drill_completed_at" TIMESTAMPTZ(6),
    "apply_completed_at" TIMESTAMPTZ(6),
    "level" TEXT,

    CONSTRAINT "drill_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "student_game_scores" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "student_id" UUID NOT NULL,
    "game_type" VARCHAR(30) NOT NULL,
    "session_date" DATE NOT NULL DEFAULT ((now() AT TIME ZONE 'Asia/Kolkata'::text))::date,
    "words_solved" INTEGER NOT NULL DEFAULT 0,
    "total_words" INTEGER NOT NULL DEFAULT 0,
    "bonus_eligible" BOOLEAN NOT NULL DEFAULT false,
    "momentum_earned" INTEGER NOT NULL DEFAULT 0,
    "completed" BOOLEAN NOT NULL DEFAULT false,
    "played_word_ids" JSONB,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "total_attempts" INTEGER NOT NULL DEFAULT 0,
    "skipped" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "student_game_scores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lexigrid_words" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "base_word" VARCHAR(100) NOT NULL,
    "target_word" VARCHAR(100) NOT NULL,
    "hint" TEXT NOT NULL,
    "difficulty" VARCHAR(20) NOT NULL DEFAULT 'INTERMEDIATE',
    "target_band" DECIMAL(2,1) DEFAULT 7.0,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "times_served" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "lexigrid_words_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "drill_questions" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "skill" "IeltsSkillType" NOT NULL,
    "sub_skill" "IeltsSubSkillType" NOT NULL,
    "level" "RecommendationLevel" NOT NULL,
    "drill_type" VARCHAR(50) NOT NULL,
    "prompt_text" TEXT NOT NULL,
    "options" JSONB,
    "correct_answer" JSONB NOT NULL,
    "explanation" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "drill_questions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IAQuestion" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "skill" "IeltsSkillType" NOT NULL,
    "sub_skill" "IeltsSubSkillType" NOT NULL,
    "question_type" VARCHAR(30) NOT NULL,
    "passage_id" VARCHAR(50),
    "passage_text" TEXT,
    "audio_url" VARCHAR(500),
    "prompt_text" TEXT NOT NULL,
    "options" JSONB,
    "correct_answer" JSONB,
    "explanation" TEXT,
    "difficulty" "DifficultyType" NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "IAQuestion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IASession" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "student_id" UUID NOT NULL,
    "ia_number" INTEGER NOT NULL,
    "ia_date" DATE NOT NULL,
    "status" "IASessionStatus" NOT NULL DEFAULT 'PENDING',
    "selected_subskills" JSONB NOT NULL DEFAULT '[]',
    "question_ids" JSONB NOT NULL DEFAULT '[]',
    "answers" JSONB NOT NULL DEFAULT '{}',
    "time_started_at" TIMESTAMPTZ(6),
    "time_submitted_at" TIMESTAMPTZ(6),
    "window_closes_at" TIMESTAMPTZ(6) NOT NULL,
    "scores" JSONB,
    "momentum_awarded" INTEGER,
    "carry_forward_subskills" JSONB NOT NULL DEFAULT '[]',
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "IASession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mockquestions" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "skill" "IeltsSkillType" NOT NULL,
    "sub_skill" "IeltsSubSkillType",
    "question_type" VARCHAR(30) NOT NULL,
    "task_type" VARCHAR(20),
    "passage_id" VARCHAR(50),
    "passage_text" TEXT,
    "audio_url" VARCHAR(500),
    "prompt_text" TEXT NOT NULL,
    "options" JSONB,
    "correct_answer" JSONB,
    "explanation" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pk_mock_questions" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mocksessions" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "student_id" UUID NOT NULL,
    "attempt_type" "MockAttemptType" NOT NULL DEFAULT 'STANDARD',
    "month_year" VARCHAR(7) NOT NULL,
    "status" "MockSessionStatus" NOT NULL DEFAULT 'PENDING',
    "question_ids" JSONB NOT NULL DEFAULT '[]',
    "answers" JSONB NOT NULL DEFAULT '{}',
    "time_started_at" TIMESTAMPTZ(6),
    "time_submitted_at" TIMESTAMPTZ(6),
    "window_closes_at" TIMESTAMPTZ(6) NOT NULL,
    "scores" JSONB,
    "real_band_score" DECIMAL(2,1),
    "momentum_awarded" INTEGER,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pk_mock_sessions" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "diagnostic_questions" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "level" CHAR(1) NOT NULL,
    "skill" "IeltsSkillType" NOT NULL,
    "question_type" VARCHAR(30) NOT NULL,
    "set_id" VARCHAR(60) NOT NULL,
    "passage_text" TEXT,
    "audio_url" VARCHAR(500),
    "prompt_text" TEXT NOT NULL,
    "options" JSONB,
    "correct_answer" VARCHAR(30),
    "min_words" INTEGER,
    "sequence" SMALLINT NOT NULL DEFAULT 1,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pk_diagnostic_questions" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Concept_conceptId_key" ON "Concept"("conceptId");

-- CreateIndex
CREATE INDEX "Concept_baseConceptId_idx" ON "Concept"("baseConceptId");

-- CreateIndex
CREATE INDEX "Concept_conceptSlug_idx" ON "Concept"("conceptSlug");

-- CreateIndex
CREATE INDEX "Concept_domain_idx" ON "Concept"("domain");

-- CreateIndex
CREATE INDEX "Concept_keywords_idx" ON "Concept" USING GIN ("keywords");

-- CreateIndex
CREATE UNIQUE INDEX "Concept_baseConceptId_sequence_key" ON "Concept"("baseConceptId", "sequence");

-- CreateIndex
CREATE UNIQUE INDEX "Content_conceptId_key" ON "Content"("conceptId");

-- CreateIndex
CREATE INDEX "Content_conceptId_idx" ON "Content"("conceptId");

-- CreateIndex
CREATE INDEX "Content_contentType_idx" ON "Content"("contentType");

-- CreateIndex
CREATE UNIQUE INDEX "Course_slug_key" ON "Course"("slug");

-- CreateIndex
CREATE INDEX "idx_course_created_at" ON "Course"("created_at");

-- CreateIndex
CREATE INDEX "idx_course_difficulty" ON "Course"("difficulty");

-- CreateIndex
CREATE INDEX "idx_course_instructor" ON "Course"("instructorId");

-- CreateIndex
CREATE INDEX "idx_course_published" ON "Course"("is_published");

-- CreateIndex
CREATE INDEX "idx_course_slug" ON "Course"("slug");

-- CreateIndex
CREATE INDEX "idx_content_concept" ON "CourseContentItem"("concept_id");

-- CreateIndex
CREATE INDEX "idx_content_kind" ON "CourseContentItem"("content_kind");

-- CreateIndex
CREATE INDEX "idx_course_module_composite" ON "CourseModule"("course_id", "order_index");

-- CreateIndex
CREATE UNIQUE INDEX "unique_course_module" ON "CourseModule"("course_id", "module_id");

-- CreateIndex
CREATE UNIQUE INDEX "unique_course_module_position" ON "CourseModule"("course_id", "order_index");

-- CreateIndex
CREATE UNIQUE INDEX "CourseOrder_razorpayOrderId_key" ON "CourseOrder"("razorpayOrderId");

-- CreateIndex
CREATE UNIQUE INDEX "CourseOrder_razorpayPaymentId_key" ON "CourseOrder"("razorpayPaymentId");

-- CreateIndex
CREATE INDEX "CourseOrder_status_idx" ON "CourseOrder"("status");

-- CreateIndex
CREATE INDEX "CourseOrder_userId_idx" ON "CourseOrder"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Domain_name_key" ON "Domain"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Domain_slug_key" ON "Domain"("slug");

-- CreateIndex
CREATE INDEX "idx_domain_slug" ON "Domain"("slug");

-- CreateIndex
CREATE INDEX "idx_ielts_reading_assessment_user_cat" ON "IeltsReadingAssessment"("userId", "category");

-- CreateIndex
CREATE INDEX "idx_ielts_reading_assessment_user_date" ON "IeltsReadingAssessment"("userId", "createdAt");

-- CreateIndex
CREATE INDEX "idx_ielts_reading_assessment_user_grade" ON "IeltsReadingAssessment"("userId", "grade");

-- CreateIndex
CREATE INDEX "IeltsReadingAssessment_topicId_idx" ON "IeltsSpeakingAssessment"("topicId");

-- CreateIndex
CREATE INDEX "IeltsReadingAssessment_userId_idx" ON "IeltsSpeakingAssessment"("userId");

-- CreateIndex
CREATE INDEX "idx_ielts_reading_practice_band" ON "IeltsSpeakingPractice"("band");

-- CreateIndex
CREATE INDEX "IeltsSpeedReadingExercise_reportId_idx" ON "IeltsSpeedReadingExercise"("reportId");

-- CreateIndex
CREATE INDEX "IeltsSpeedReadingReport_category_idx" ON "IeltsSpeedReadingReport"("category");

-- CreateIndex
CREATE INDEX "idx_voice_prompt_active" ON "IeltsVoicePrompt"("isActive");

-- CreateIndex
CREATE INDEX "idx_voice_prompt_band" ON "IeltsVoicePrompt"("band");

-- CreateIndex
CREATE INDEX "idx_voice_prompt_feature" ON "IeltsVoicePrompt"("feature");

-- CreateIndex
CREATE INDEX "IeltsWritingTask_assignedDate_idx" ON "IeltsWritingTask"("assignedDate");

-- CreateIndex
CREATE INDEX "IeltsWritingAssessment_userId_idx" ON "IeltsWritingAssessment"("userId");

-- CreateIndex
CREATE INDEX "IeltsWritingAssessment_taskId_idx" ON "IeltsWritingAssessment"("taskId");

-- CreateIndex
CREATE UNIQUE INDEX "Instructor_userId_key" ON "Instructor"("userId");

-- CreateIndex
CREATE INDEX "Instructor_userId_idx" ON "Instructor"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "MCQ_content_item_id_key" ON "MCQ"("content_item_id");

-- CreateIndex
CREATE INDEX "idx_module_domain" ON "Module"("domain");

-- CreateIndex
CREATE INDEX "idx_module_concept_composite" ON "ModuleConcept"("module_id", "order_index");

-- CreateIndex
CREATE UNIQUE INDEX "unique_module_concept" ON "ModuleConcept"("module_id", "concept_id");

-- CreateIndex
CREATE UNIQUE INDEX "unique_module_concept_position" ON "ModuleConcept"("module_id", "order_index");

-- CreateIndex
CREATE UNIQUE INDEX "Note_content_item_id_key" ON "Note"("content_item_id");

-- CreateIndex
CREATE INDEX "ReadingAssessmentHistory_userId_createdAt_idx" ON "ReadingAssessmentHistory"("userId", "createdAt");

-- CreateIndex
CREATE INDEX "ReadingAssessmentHistory_userId_difficulty_idx" ON "ReadingAssessmentHistory"("userId", "difficulty");

-- CreateIndex
CREATE UNIQUE INDEX "User_supabaseuserid_key" ON "User"("supabaseuserid");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "User_email_idx" ON "User"("email");

-- CreateIndex
CREATE INDEX "idx_user_notifications_feed" ON "user_notifications"("user_id", "created_at" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "uq_user_notification_dedupe" ON "user_notifications"("user_id", "dedupe_key");

-- CreateIndex
CREATE INDEX "UserConcept_conceptId_idx" ON "UserConcept"("conceptId");

-- CreateIndex
CREATE INDEX "UserConcept_userId_idx" ON "UserConcept"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "UserConcept_userId_conceptId_key" ON "UserConcept"("userId", "conceptId");

-- CreateIndex
CREATE INDEX "idx_content_last_accessed" ON "UserContentProgress"("last_accessed_at");

-- CreateIndex
CREATE INDEX "idx_user_content_lookup" ON "UserContentProgress"("user_id", "course_id", "module_id");

-- CreateIndex
CREATE INDEX "idx_user_content_status" ON "UserContentProgress"("user_id", "status");

-- CreateIndex
CREATE INDEX "idx_user_module_content" ON "UserContentProgress"("user_id", "module_id", "last_accessed_at" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "unique_user_content_progress" ON "UserContentProgress"("user_id", "content_item_id");

-- CreateIndex
CREATE INDEX "idx_user_course_enrollment" ON "UserCourseEnrollment"("user_id", "status");

-- CreateIndex
CREATE UNIQUE INDEX "unique_user_course_enrollment" ON "UserCourseEnrollment"("user_id", "course_id");

-- CreateIndex
CREATE INDEX "idx_user_progress_lookup" ON "UserModuleProgress"("user_id", "course_id");

-- CreateIndex
CREATE UNIQUE INDEX "unique_user_module_progress" ON "UserModuleProgress"("user_id", "module_id", "course_id");

-- CreateIndex
CREATE UNIQUE INDEX "UserReadingProfile_userId_key" ON "UserReadingProfile"("userId");

-- CreateIndex
CREATE INDEX "UserReadingProfile_userId_idx" ON "UserReadingProfile"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "YouTubeTranscript_videoId_key" ON "YouTubeTranscript"("videoId");

-- CreateIndex
CREATE INDEX "YouTubeTranscript_accessCount_idx" ON "YouTubeTranscript"("accessCount");

-- CreateIndex
CREATE INDEX "YouTubeTranscript_lastAccessed_idx" ON "YouTubeTranscript"("lastAccessed");

-- CreateIndex
CREATE INDEX "YouTubeTranscript_videoId_idx" ON "YouTubeTranscript"("videoId");

-- CreateIndex
CREATE INDEX "idx_ielts_batch_instructors_batch" ON "ielts_batch_instructors"("batch_id");

-- CreateIndex
CREATE INDEX "idx_ielts_batch_instructors_user" ON "ielts_batch_instructors"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "ielts_batch_instructors_batch_id_user_id_key" ON "ielts_batch_instructors"("batch_id", "user_id");

-- CreateIndex
CREATE INDEX "idx_ielts_batch_students_batch" ON "ielts_batch_students"("batch_id");

-- CreateIndex
CREATE INDEX "idx_ielts_batch_students_user" ON "ielts_batch_students"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "ielts_batch_students_batch_id_user_id_key" ON "ielts_batch_students"("batch_id", "user_id");

-- CreateIndex
CREATE INDEX "idx_ielts_batches_institute" ON "ielts_batches"("institute_id");

-- CreateIndex
CREATE INDEX "idx_ielts_batches_status" ON "ielts_batches"("status");

-- CreateIndex
CREATE UNIQUE INDEX "institute_admins_user_id_key" ON "institute_admins"("user_id");

-- CreateIndex
CREATE INDEX "idx_institute_admins_institute" ON "institute_admins"("institute_id");

-- CreateIndex
CREATE UNIQUE INDEX "institute_instructors_user_id_key" ON "institute_instructors"("user_id");

-- CreateIndex
CREATE INDEX "idx_institute_instructors_institute" ON "institute_instructors"("institute_id");

-- CreateIndex
CREATE UNIQUE INDEX "institute_owners_user_id_key" ON "institute_owners"("user_id");

-- CreateIndex
CREATE INDEX "idx_institute_owners_institute" ON "institute_owners"("institute_id");

-- CreateIndex
CREATE UNIQUE INDEX "institute_students_user_id_key" ON "institute_students"("user_id");

-- CreateIndex
CREATE INDEX "idx_institute_students_active" ON "institute_students"("is_active");

-- CreateIndex
CREATE INDEX "idx_institute_students_institute" ON "institute_students"("institute_id");

-- CreateIndex
CREATE INDEX "idx_institutes_is_active" ON "institutes"("is_active");

-- CreateIndex
CREATE INDEX "StudentCompetencyMatrix_student_id_idx" ON "StudentCompetencyMatrix"("student_id");

-- CreateIndex
CREATE UNIQUE INDEX "StudentCompetencyMatrix_student_id_skill_key" ON "StudentCompetencyMatrix"("student_id", "skill");

-- CreateIndex
CREATE INDEX "AssessmentHistory_student_id_idx" ON "AssessmentHistory"("student_id");

-- CreateIndex
CREATE INDEX "AssessmentHistory_skill_idx" ON "AssessmentHistory"("skill");

-- CreateIndex
CREATE INDEX "AssessmentHistory_mode_idx" ON "AssessmentHistory"("mode");

-- CreateIndex
CREATE INDEX "RecommendationItem_skill_type_level_is_active_idx" ON "RecommendationItem"("skill_type", "level", "is_active");

-- CreateIndex
CREATE INDEX "idx_drill_sessions_student_id" ON "drill_sessions"("student_id");

-- CreateIndex
CREATE INDEX "idx_drill_sessions_student_skill_status" ON "drill_sessions"("student_id", "skill", "sub_skill", "status", "created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_drill_sessions_student_status_created" ON "drill_sessions"("student_id", "status", "created_at" DESC);

-- CreateIndex
CREATE INDEX "student_game_scores_student_id_idx" ON "student_game_scores"("student_id");

-- CreateIndex
CREATE INDEX "student_game_scores_session_date_idx" ON "student_game_scores"("session_date");

-- CreateIndex
CREATE INDEX "idx_sgs_game_date" ON "student_game_scores"("game_type", "session_date");

-- CreateIndex
CREATE INDEX "idx_sgs_student_game_date_cover" ON "student_game_scores"("student_id", "game_type", "session_date", "completed", "words_solved", "momentum_earned");

-- CreateIndex
CREATE UNIQUE INDEX "student_game_scores_student_game_date_uniq" ON "student_game_scores"("student_id", "game_type", "session_date");

-- CreateIndex
CREATE UNIQUE INDEX "uniq_lexigrid_base_target" ON "lexigrid_words"("base_word", "target_word");

-- CreateIndex
CREATE INDEX "drill_questions_skill_sub_skill_level_is_active_idx" ON "drill_questions"("skill", "sub_skill", "level", "is_active");

-- CreateIndex
CREATE INDEX "idx_iaquestion_active" ON "IAQuestion"("is_active");

-- CreateIndex
CREATE INDEX "idx_iaquestion_difficulty" ON "IAQuestion"("difficulty");

-- CreateIndex
CREATE INDEX "idx_iaquestion_skill_subskill" ON "IAQuestion"("skill", "sub_skill");

-- CreateIndex
CREATE INDEX "idx_iasession_status" ON "IASession"("status");

-- CreateIndex
CREATE INDEX "idx_iasession_student_date" ON "IASession"("student_id", "ia_date");

-- CreateIndex
CREATE INDEX "idx_iasession_student_id" ON "IASession"("student_id");

-- CreateIndex
CREATE UNIQUE INDEX "uq_iasession_student_date" ON "IASession"("student_id", "ia_date");

-- CreateIndex
CREATE INDEX "idx_mock_questions_skill_active" ON "mockquestions"("skill", "is_active");

-- CreateIndex
CREATE INDEX "idx_mock_questions_skill_type" ON "mockquestions"("skill", "question_type");

-- CreateIndex
CREATE INDEX "idx_mock_sessions_status" ON "mocksessions"("status");

-- CreateIndex
CREATE INDEX "idx_mock_sessions_student_id" ON "mocksessions"("student_id");

-- CreateIndex
CREATE INDEX "idx_mock_sessions_student_month" ON "mocksessions"("student_id", "month_year");

-- CreateIndex
CREATE UNIQUE INDEX "uq_mock_sessions_student_month_type" ON "mocksessions"("student_id", "month_year", "attempt_type");

-- CreateIndex
CREATE INDEX "idx_dq_level_skill_active" ON "diagnostic_questions"("level", "skill", "is_active");

-- CreateIndex
CREATE INDEX "idx_dq_set_id" ON "diagnostic_questions"("set_id");

-- CreateIndex
CREATE INDEX "idx_dq_set_sequence" ON "diagnostic_questions"("set_id", "sequence");

-- AddForeignKey
ALTER TABLE "Content" ADD CONSTRAINT "Content_conceptId_fkey" FOREIGN KEY ("conceptId") REFERENCES "Concept"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Course" ADD CONSTRAINT "fk_course_domain" FOREIGN KEY ("domainId") REFERENCES "Domain"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Course" ADD CONSTRAINT "fk_course_instructor" FOREIGN KEY ("instructorId") REFERENCES "Instructor"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CourseContentItem" ADD CONSTRAINT "fk_concept" FOREIGN KEY ("concept_id") REFERENCES "Concept"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CourseModule" ADD CONSTRAINT "fk_course" FOREIGN KEY ("course_id") REFERENCES "Course"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CourseModule" ADD CONSTRAINT "fk_module" FOREIGN KEY ("module_id") REFERENCES "Module"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CourseOrder" ADD CONSTRAINT "CourseOrder_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES "Course"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CourseOrder" ADD CONSTRAINT "CourseOrder_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IeltsReadingAssessment" ADD CONSTRAINT "IeltsReadingAssessment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "IeltsSpeakingAssessment" ADD CONSTRAINT "IeltsReadingAssessment_topicId_fkey" FOREIGN KEY ("topicId") REFERENCES "IeltsSpeakingPractice"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IeltsSpeakingAssessment" ADD CONSTRAINT "IeltsSpeakingAssessment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IeltsSpeedReadingExercise" ADD CONSTRAINT "IeltsSpeedReadingExercise_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "IeltsSpeedReadingReport"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IeltsWritingAssessment" ADD CONSTRAINT "IeltsWritingAssessment_taskId_fkey" FOREIGN KEY ("taskId") REFERENCES "IeltsWritingTask"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "IeltsWritingAssessment" ADD CONSTRAINT "IeltsWritingAssessment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Instructor" ADD CONSTRAINT "Instructor_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MCQ" ADD CONSTRAINT "fk_content_item" FOREIGN KEY ("content_item_id") REFERENCES "CourseContentItem"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ModuleConcept" ADD CONSTRAINT "fk_concept" FOREIGN KEY ("concept_id") REFERENCES "Concept"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ModuleConcept" ADD CONSTRAINT "fk_module" FOREIGN KEY ("module_id") REFERENCES "Module"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Note" ADD CONSTRAINT "fk_content_item" FOREIGN KEY ("content_item_id") REFERENCES "CourseContentItem"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ReadingAssessmentHistory" ADD CONSTRAINT "ReadingAssessmentHistory_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "user_notifications" ADD CONSTRAINT "user_notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "UserConcept" ADD CONSTRAINT "UserConcept_conceptId_fkey" FOREIGN KEY ("conceptId") REFERENCES "Concept"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "UserConcept" ADD CONSTRAINT "UserConcept_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "UserContentProgress" ADD CONSTRAINT "fk_user_content_progress_content_item" FOREIGN KEY ("content_item_id") REFERENCES "CourseContentItem"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "UserContentProgress" ADD CONSTRAINT "fk_user_content_progress_course" FOREIGN KEY ("course_id") REFERENCES "Course"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "UserContentProgress" ADD CONSTRAINT "fk_user_content_progress_module" FOREIGN KEY ("module_id") REFERENCES "Module"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "UserContentProgress" ADD CONSTRAINT "fk_user_content_progress_user" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "UserCourseEnrollment" ADD CONSTRAINT "fk_course" FOREIGN KEY ("course_id") REFERENCES "Course"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "UserCourseEnrollment" ADD CONSTRAINT "fk_user" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "UserModuleProgress" ADD CONSTRAINT "fk_course" FOREIGN KEY ("course_id") REFERENCES "Course"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "UserModuleProgress" ADD CONSTRAINT "fk_module" FOREIGN KEY ("module_id") REFERENCES "Module"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "UserModuleProgress" ADD CONSTRAINT "fk_user" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "UserReadingProfile" ADD CONSTRAINT "UserReadingProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ielts_batch_instructors" ADD CONSTRAINT "ielts_batch_instructors_batch_id_fkey" FOREIGN KEY ("batch_id") REFERENCES "ielts_batches"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ielts_batch_instructors" ADD CONSTRAINT "ielts_batch_instructors_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ielts_batch_students" ADD CONSTRAINT "ielts_batch_students_batch_id_fkey" FOREIGN KEY ("batch_id") REFERENCES "ielts_batches"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ielts_batch_students" ADD CONSTRAINT "ielts_batch_students_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ielts_batches" ADD CONSTRAINT "ielts_batches_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ielts_batches" ADD CONSTRAINT "ielts_batches_institute_id_fkey" FOREIGN KEY ("institute_id") REFERENCES "institutes"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "institute_admins" ADD CONSTRAINT "institute_admins_institute_id_fkey" FOREIGN KEY ("institute_id") REFERENCES "institutes"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "institute_admins" ADD CONSTRAINT "institute_admins_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "institute_instructors" ADD CONSTRAINT "institute_instructors_institute_id_fkey" FOREIGN KEY ("institute_id") REFERENCES "institutes"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "institute_instructors" ADD CONSTRAINT "institute_instructors_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "institute_owners" ADD CONSTRAINT "institute_owners_institute_id_fkey" FOREIGN KEY ("institute_id") REFERENCES "institutes"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "institute_owners" ADD CONSTRAINT "institute_owners_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "institute_students" ADD CONSTRAINT "institute_students_institute_id_fkey" FOREIGN KEY ("institute_id") REFERENCES "institutes"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "institute_students" ADD CONSTRAINT "institute_students_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "institutes" ADD CONSTRAINT "institutes_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "StudentCompetencyMatrix" ADD CONSTRAINT "StudentCompetencyMatrix_student_id_fkey" FOREIGN KEY ("student_id") REFERENCES "institute_students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AssessmentHistory" ADD CONSTRAINT "AssessmentHistory_student_id_fkey" FOREIGN KEY ("student_id") REFERENCES "institute_students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "drill_sessions" ADD CONSTRAINT "drill_sessions_student_id_fkey" FOREIGN KEY ("student_id") REFERENCES "institute_students"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "student_game_scores" ADD CONSTRAINT "student_game_scores_student_fk" FOREIGN KEY ("student_id") REFERENCES "institute_students"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "IASession" ADD CONSTRAINT "IASession_student_id_fkey" FOREIGN KEY ("student_id") REFERENCES "institute_students"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "mocksessions" ADD CONSTRAINT "fk_mock_sessions_student" FOREIGN KEY ("student_id") REFERENCES "institute_students"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

